<p-dialog [modal]="true" [closeOnEscape]="true" [(visible)]="isShow">
  <p-header>高级查询</p-header>
  <div>
    <div class="grid-search clearfix">
      <div class="data-item required">
        <span class="label">
          <span title="品牌" class="text">品牌：</span>
        </span>
        <span class="form-select">
          <p-dropdown [options]="brandList" [(ngModel)]="brand" [style]="{width: '160px'}" (onFocus)="onSelectFocus('brand')"></p-dropdown>
        </span>
      </div>
      <div class="data-item">
        <span class="label">
          <span title="车系" class="text">车系：</span>
        </span>
        <span class="form-select">
          <p-dropdown [options]="seriesList" [(ngModel)]="series" [style]="{width: '160px'}" (onFocus)="onSelectFocus('series')"></p-dropdown>
        </span>
      </div>
      <div class="data-item">
        <span class="label">
          <span title="车型组" class="text">车型组：</span>
        </span>
        <span class="form-select">
          <p-dropdown [options]="modelGroupList" [(ngModel)]="modelGroup" [style]="{width: '160px'}" (onFocus)="onSelectFocus('modelGroup')"></p-dropdown>
        </span>
      </div>
      <div class="data-item">
        <span class="label">
          <span title="车型" class="text">车型：</span>
        </span>
        <span class="form-select">
           <p-dropdown [options]="modelList" [(ngModel)]="model" [style]="{width: '160px'}" (onFocus)="onSelectFocus('model')"></p-dropdown>
        </span>
      </div>

      <div class="data-item">
        <span class="label">
          <span title="配件编码：" class="text">配件编码：</span>
        </span>
        <span class="form-select">
          <input type="text" name="partNo" [(ngModel)]="partNo" pInputText />
        </span>
      </div>
      <div class="data-item">
        <span class="label">
          <span title="配件名称" class="text">配件名称：</span>
        </span>
        <span class="form-select">
           <input type="text" name="partName" [(ngModel)]="partName" pInputText />
        </span>
      </div>
    </div>
    <div class="layer-operation">
      <a class="btn" href="javascript:;" (click)="onClickQuery()">查询</a>
      <a class="btn" href="javascript:;" (click)="onClickReset()">重置</a>
    </div>
  </div>

  <p-dataTable [value]="[]" [rows]="10" [paginator]="true" [style]="{width: '1000px'}">
    <p-column field="rowNumber" header="序号"></p-column>
    <p-column field="partNo" header="配件编码"></p-column>
    <p-column field="partName" header="配件名称"></p-column>
    <p-column field="qty" header="用量"></p-column>
    <p-column field="startDate" header="开始时间"></p-column>
    <p-column field="endDate" header="结束时间"></p-column>
    <p-column field="brandName" header="品牌"></p-column>
    <p-column field="seriesName" header="车系"></p-column>
    <p-column field="modelGroupName" header="车型组"></p-column>
    <p-column field="modelName" header="车型"></p-column>
    <p-column field="imageCode" header="图例编码"></p-column>
    <p-column field="imageName" header="图例名称"></p-column>
    <p-column field="partUsageName" header="用法名称"></p-column>
  </p-dataTable>
</p-dialog>
