.grid-search{
  width: 1000px;
}

.data-item .label{
 width: 80px;
}

.form-select{
  display: inline-block;
  width: 160px;
}

.form-select input{
  display: inline-block;
  width:100%;
  height: 100%;
  padding:0 5px;
}

.layer-operation{
 padding:10px 0 20px;
}

.grid-search .data-item{
  font-size:12px;
  line-height: 22px;
}
