<div class="model">
  <div class="model-head">车型</div>
  <div class="model-body" id="model-body">
    <div class="all-model"><a class="text-link2" data-id="all-model" [routerLink]="['/catalog']">全部车型</a></div>
    <ul *ngFor="let modelGroup of modelList" class="type-list">
      <li class="type-item">
        <div>
          <span class="type">
            <span class="icon"></span>
            <a [routerLink]="['model']" class="link">{{modelGroup.modelGroupName}}</a>
          </span>
        </div>
        <ul *ngFor="let model of modelGroup.models" class="model-list">
          <li class="model-item"><span class="icon"></span>
            <a [routerLink]="['model']" class="link">{{model.modelName}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
