<div class="group">
  <div class="group-head">{{'model.treeTitle' | translate}}</div>
  <div class="group-body">
    <ul *ngIf="groupList.length">
      <li *ngFor="let group of groupList; let i = index;">

        <a href="javascript:;"  title="{{group.name}}" [class.checked]="group.code === checkedNodeCode" [class.expand]="group.expand">
          <span data-field="icon" class="icon" (click)="group.expand = !group.expand"></span>
          <span data-field="text" class="text" (click)="checkedNodeCode = group.code; onClickNode('group', group)">{{ group.code + '.' + group.name}}</span>
        </a>

        <ul *ngIf="group.subGroup?.length" [style.display]="group.expand ? 'block' : 'none'">
          <li *ngFor="let subGroup of group.subGroup">

            <a href="javascript:;" title="{{subGroup.name}}" [class.checked]="subGroup.code === checkedNodeCode" [class.expand]="subGroup.expand">
              <span data-field="icon" class="icon" (click)="subGroup.expand = !subGroup.expand"></span>
              <span data-field="text" class="text" (click)="checkedNodeCode = subGroup.code; onClickNode('sub-group', subGroup)">{{ subGroup.code + '.' + subGroup.name}}</span>
            </a>

            <ul *ngIf="subGroup.images?.length" [style.display]="subGroup.expand ? 'block' : 'none'">
              <li  *ngFor="let image of subGroup.images">
                <a href="javascript:;" data-svgfile="" data-giffile="" [class.checked]="image.code === checkedNodeCode" class="leaf" title="{{image.name}}">
                  <span class="icon"></span>

                  <span class="text" (click)="checkedNodeCode = image.code; onClickNode('image', subGroup)">{{image.code + '@' + image.name}}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
