<div class="page-navigation clearfix" id="page-navigation">
  <div class="nav-info">
          <span class="text">尹延律
            您好！欢迎登录北汽电子配件目录信息管理系统

              (培训经销商查询)

            </span>
  </div>
  <div class="nav-list-wrap">
    <ul class="nav-list">
      <li class="nav-list-item"><a href="/epc/catalog" class="text-link2">首页</a></li>


      <li class="nav-list-item">
        <a id="nav-shopping-cart-link" data-action="shopping-cart" href="/epc/cart" target="_blank" class="text-link2">购物车<span
          class="num-wrap">(<span class="num">0</span>)</span></a>
        <div class="nav-item-layer cart" id="header-cart">
          <span class="arrow"></span>
          <div class="cart-head">
            <span class="text">购物车</span>
          </div>
          <div class="cart-body">
            <ul id="header-cart-list">
              <script type="text/template">
                {{#list}}
                <li data-id="{{id}}" class="clearfix">
					<span class="part-info item">
						<a title="{{partNo}}" class="text-link part-no" href="/epc/detail?partNo={{partNo}}">{{partNo}}</a>
						<span title="{{partName}}" class="part-name">{{partName}}</span>
					</span>
                  <span class="qty item" title="{{qty}}">{{qty}}</span>
                  <span class="operation item">
						<a data-action="confirm" class="btn hide" href="javascript:;">删除</a>
						<a data-action="cancel" class="btn hide" href="javascript:;">取消</a>
						<a data-action="delete" class="icon-btn delete" href="javascript:;"><span class="icon"></span></a>
					</span>
                </li>
                {{/list}}
              </script>
            </ul>
          </div>
          <div class="cart-foot">
            <div class="desc"><span class="text">共<span class="count" data-itemid="count">0</span>件商品</span></div>
            <a class="btn" target="_blank" href="/epc/cart">打开购物车</a>
          </div>
        </div>
      </li>


      <li class="nav-list-item"><a id="nav-notice-link" data-action="notice" href="javascript:;"
                                   class="text-link2">通知<span class="num-wrap">(<span class="num">0</span>)</span></a>
      </li>


      <li class="nav-list-item"><a id="nav-online-link" href="/pac/online" target="_blank" class="text-link2">在线咨询</a>
      </li>


      <li class="nav-list-item hide" data-action="questionnaire"><a id="nav-questionnaire-link" class="text-link2"
                                                                    href="javascript:;"
                                                                    data-action="open-questionnaire">问卷调查<span
        class="num-wrap">(<span class="num">0</span>)</span></a></li>


      <li class="nav-list-item nav-lang">
        <a href="javascript:;" class="text-link2">语言<span class="arrow"></span></a>
        <div class="nav-item-layer">
          <ul class="nav-layer-list" id="nav-lang-list">
            <li data-action="zh"><a href="javascript:;">中文</a></li>
            <li data-action="en"><a href="javascript:;">English</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-list-item"><a id="nav-manage-link"
                                   href="http://localhost:7580/?token=fiEc0LHSqfoIJsTNCpwpcN1XvUUeI3p32LCSGT1cTg0rBzT0QT3Ch5QJ2iW2PZizj750hb"
                                   target="_blank" class="text-link2">管理中心</a></li>


      <li class="nav-list-item nav-stand-alone">
        <a id="nav-stand-alone-link" data-action="stand-alone-dwonload" href="javascript:;"
           class="text-link2">下载单机版<span class="arrow"></span></a>
        <div class="nav-item-layer">
          <ul class="nav-layer-list">

            <li data-action="stand-alone-download"><a id="nav-stand-alone-download-link"
                                                      href="http://res2.dev.servision.com.cn/baic/client/baic-windows-client.zip">下载安装程序</a>
            </li>


            <li data-action="stand-alone-data"><a id="nav-stand-alone-data-link" href="javascript:;">单机版数据包</a></li>


            <li data-action="stand-alone-help"><a id="nav-stand-alone-help-link"
                                                  href="http://res2.dev.servision.com.cn/baic/manual/client/"
                                                  target="_blank">安装使用帮助</a></li>

          </ul>
        </div>
      </li>


      <li class="nav-list-item nav-user-info">
        <a data-action="userinfo" href="javascript:;" class="text-link2">用户中心<span class="arrow"></span></a>
        <div class="nav-item-layer">
          <ul class="nav-layer-list">


            <li data-action="user-info"><a id="nav-user-info-link" href="javascript:;">用户信息</a></li>


            <li data-action="modify-password"><a id="nav-user-password-link" href="javascript:;">修改密码</a></li>


            <li data-action="modify-email"><a id="nav-user-email-link" href="javascript:;">修改邮箱</a></li>

          </ul>
        </div>
      </li>


      <li class="nav-list-item">
        <a data-action="help" href="javascript:;" class="text-link2">帮助中心<span class="arrow"></span></a>
        <div class="nav-item-layer">
          <ul class="nav-layer-list">

            <li><a href="http://res2.dev.servision.com.cn/baic/manual/epc/" target="_blank">帮助手册</a></li>


            <li><a href="/epc/knowledge/index">知识库</a></li>

          </ul>
        </div>
      </li>


      <li class="nav-list-item"><a id="nav-dms-link" href="javascript:;" class="text-link2">进入DMS系统</a></li>


      <li class="nav-list-item"><a href="/logout" class="text-link2">退出</a></li>
    </ul>
  </div>
</div>
