<div class="legend-list" [style.display]="isShow ? 'block' : 'none'">
  <ul *ngIf="legendList.length" class="clearfix">
    <li  *ngFor="let legend of legendList" title="{{legend.code + '.' + legend.images[0].name}}" (click)="onClickItem(legend)">
      <div class="img-wrap">
        <a href="javascript:;">
          <img src="{{legend.images[0].gifFile}}" width="195" height="278">
        </a>
      </div>
      <p class="img-desc">
        <a href="javascript:;">{{legend.code + '.' + legend.images[0].name}}</a>
      </p>
    </li>
  </ul>
</div>
