<p-dialog [modal]="true" [closeOnEscape]="true" [(visible)]="isShow">
  <p-header>高级查询</p-header>
  <div>
    <div class="grid-search clearfix">
      <div class="data-item required">
        <span class="label">
          <span title="品牌" class="text">品牌：</span>
        </span>
        <span class="form-select">
          <p-dropdown [options]="brandList" [(ngModel)]="brand" #brandElem [style]="{width: '160px'}" (onChange)="onSelectChange(['series', 'modelGroup', 'model'], {'brandCode': brandElem.value})"></p-dropdown>
        </span>
      </div>
      <div class="data-item">
        <span class="label">
          <span title="车系" class="text">车系：</span>
        </span>
        <span class="form-select">
          <p-dropdown [options]="seriesList" [(ngModel)]="series" #seriesElem [style]="{width: '160px'}" (onChange)="onSelectChange(['modelGroup', 'model'], {'seriesCode': seriesElem.value})"></p-dropdown>
        </span>
      </div>
      <div class="data-item">
        <span class="label">
          <span title="车型组" class="text">车型组：</span>
        </span>
        <span class="form-select">
          <p-dropdown [options]="modelGroupList" [(ngModel)]="modelGroup" #modelGroupElem [style]="{width: '160px'}" (onChange)="onSelectChange(['model'], {'modelGroupCode': modelGroupElem.value})"></p-dropdown>
        </span>
      </div>
      <div class="data-item">
        <span class="label">
          <span title="车型" class="text">车型：</span>
        </span>
        <span class="form-select">
           <p-dropdown [options]="modelList" [(ngModel)]="model"  #modelElem  [style]="{width: '160px'}"></p-dropdown>
        </span>
      </div>

      <div class="data-item">
        <span class="label">
          <span title="配件编码：" class="text">配件编码：</span>
        </span>
        <span class="form-select">
          <input type="text" name="partNo" [(ngModel)]="partNo" pInputText />
        </span>
      </div>
      <div class="data-item">
        <span class="label">
          <span title="配件名称" class="text">配件名称：</span>
        </span>
        <span class="form-select">
           <input type="text" name="partName" [(ngModel)]="partName" pInputText />
        </span>
      </div>
    </div>
    <div class="layer-operation">
      <a class="btn" href="javascript:;" (click)="onClickQuery()">查询</a>
      <a class="btn" href="javascript:;" (click)="onClickReset()">重置</a>
    </div>
  </div>

  <p-dataTable [value]="queryResult" [rows]="8" [paginator]="true" [style]="{width: '1000px'}">
    <p-column field="rowNumber"  header="序号"></p-column>
    <p-column field="brandName" header="品牌"></p-column>
    <p-column field="seriesName" header="车系"></p-column>
    <p-column field="modelGroupName" header="车型组"></p-column>
    <p-column field="modelName" header="车型"></p-column>
    <p-column field="partNo" header="配件编码"></p-column>
    <p-column field="partName" header="配件名称"></p-column>
  </p-dataTable>
</p-dialog>
