<div class="page-header clearfix" id="page-header">
  <a class="logo" [routerLink]="['/catalog']"><img src="http://localhost:3000/images/P01.png"></a>

  <div class="search-box">
    <p-dropdown [options]="searchList" [style]="{width: '100px'}" #searchType (onChange)="selectChange($event)" ></p-dropdown>
    <input type="text" #searchInput class="search-input" placeholder="{{placeholder}}" (keyup.enter)="doQuery(searchInput.value)" />
    <a href="javascript:;" class="search-close"></a>
    <a href="javascript:;" class="search-btn" (click)="doQuery(searchInput.value)">查询</a>
  </div>

  <div class="other-search">
    <ul class="other-search-list">
      <li class="item"><a href="javascript:;" class="text-link2" (click)="doAdvanceQuery()">高级查询</a></li>
    </ul>
  </div>
</div>
